BasedOnStyle: LLVM
#IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 120

# 巨集定義對齊相關設定
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
MacroBlockBegin: "^BEGIN_.*$"
MacroBlockEnd: "^END_.*$"
IndentPPDirectives: BeforeHash

# 大括號緊跟在前面的代碼後面，不換行
# 例如: if (condition) {
# 而不是: if (condition)
#         {
# BreakBeforeBraces: Attach
BreakBeforeBraces: Allman

AlignTrailingComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# BreakBeforeBraces: Attach
# AllowShortFunctionsOnASingleLine: Empty
# SpaceBeforeParens: ControlStatements

SortIncludes: false



